<h1 id='tocheading'>Table of Content</h1>
<div id='toc'></div>

In [1]:
%%javascript
$.getScript('https://kmahelona.github.io/ipython_notebook_goodies/ipython_notebook_toc.js')

# Data Cleaning

In [2]:
# frequently used libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import timeit
from datetime import date

## Order Dataset

In [3]:
order_df = pd.read_csv('olist_orders_dataset.csv')
order_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
order_id                         99441 non-null object
customer_id                      99441 non-null object
order_status                     99441 non-null object
order_purchase_timestamp         99441 non-null object
order_approved_at                99281 non-null object
order_delivered_carrier_date     97658 non-null object
order_delivered_customer_date    96476 non-null object
order_estimated_delivery_date    99441 non-null object
dtypes: object(8)
memory usage: 6.1+ MB

In [4]:
order_df[order_df.duplicated()]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date]
Index: []

In [5]:
order_df.drop(['order_status',
               'order_delivered_carrier_date',
               'order_approved_at',
               'order_delivered_customer_date',
               'order_estimated_delivery_date',
               'order_purchase_timestamp'], axis='columns', inplace=True)

#order_df.order_purchase_timestamp = pd.to_datetime(order_df.order_purchase_timestamp)

In [6]:
order_df.head()

                           order_id                       customer_id
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

## Customer Dataset

In [7]:
customer_df = pd.read_csv('olist_customers_dataset.csv')
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
customer_id                 99441 non-null object
customer_unique_id          99441 non-null object
customer_zip_code_prefix    99441 non-null int64
customer_city               99441 non-null object
customer_state              99441 non-null object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [8]:
customer_df[customer_df.duplicated()]

Empty DataFrame
Columns: [customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state]
Index: []

In [9]:
customer_df.drop(['customer_zip_code_prefix', 'customer_city'], axis='columns', inplace=True)

In [10]:
customer_df.nunique()

customer_id           99441
customer_unique_id    96096
customer_state           27
dtype: int64

In [11]:
customer_df.head()

,customer_id,customer_unique_id,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,SP

## Payment Dataset

In [12]:
payment_df = pd.read_csv('olist_order_payments_dataset.csv')
payment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
order_id                103886 non-null object
payment_sequential      103886 non-null int64
payment_type            103886 non-null object
payment_installments    103886 non-null int64
payment_value           103886 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [13]:
payment_df.drop('payment_sequential', axis='columns', inplace=True)

SyntaxError: invalid syntax (<ipython-input-13-34882940ad9e>, line 1)

In [ ]:
payment_df[payment_df.duplicated()]

In [ ]:
payment_df.head()

In [ ]:
payment_df.nunique()

## Item Dataset

In [ ]:
item_df = pd.read_csv('olist_order_items_dataset.csv')

In [ ]:
item_df.info()

In [ ]:
item_df.drop(['order_item_id', axis='columns', inplace=True)

In [ ]:
item_df[item_df.duplicated()]

In [ ]:
item_df.drop(['seller_id', 'shipping_limit_date'], axis='columns', inplace=True)
item_df.columns

In [ ]:
item_df.head()

## Product Dataset

In [ ]:
product_df = pd.read_csv('olist_products_dataset.csv')

In [ ]:
product_df.info()

In [ ]:
product_df[product_df.duplicated()]

In [ ]:
product_df.fillna(product_df.median(), inplace=True)
product_df.info()

In [ ]:
product_df.fillna('other', inplace=True)
product_df.info()

In [ ]:
product_df.head()

In [ ]:
product_df.product_category_name.nunique()

## Translation Dataset

In [ ]:
translation_df = pd.read_csv('product_category_name_translation.csv')
translation_df.info()
translation_df.head()

## Review Dataset

In [ ]:
review_df = pd.read_csv('olist_order_reviews_dataset.csv')
review_df.info()

In [ ]:
review_df[review_df.duplicated()]

In [ ]:
review_df.drop(['review_id', 'review_creation_date', 'review_answer_timestamp'], axis='columns', inplace=True)
review_df.columns

In [ ]:
for columns in ['review_comment_title', 'review_comment_message']:
    # replace present values with 1
    review_df.loc[review_df[columns].notnull(), columns] = 1
    # replace null values with 0
    review_df.loc[review_df[columns].isna(), columns] = 0
review_df.info()

In [ ]:
review_df.head()

In [ ]:
review_df.nunique()

In [ ]:
review_df.review_score.value_counts(normalize=True)

In [ ]:
plt.bar(review_df.review_score.value_counts().index, review_df.review_score.value_counts().values)

## Seller Dataset

In [ ]:
seller_df = pd.read_csv('olist_sellers_dataset.csv')
seller_df.info()

In [ ]:
seller_df.drop(['seller_zip_code_prefix', 'seller_city'], axis='columns', inplace=True)
seller_df.columns

# Join

In [ ]:
oc_df = pd.merge(order_df, customer_df, how='left', on='customer_id')
oc_df.drop(['customer_id', axis='columns', inplace=True)
oc_df.info()

In [ ]:
ocp_df = pd.merge(oc_df, payment_df, how='left', on='order_id')
ocp_df.info()

In [ ]:
ocpr_df = pd.merge(ocp_df, review_df, how='left', on='order_id')
ocpr_df.info()

In [ ]:
ocpri_df = pd.merge(ocpr_df, item_df, how='left', on='order_id')
ocpri_df.drop(['order_id', axis='columns', inplace=True)
ocpri_df.info()

In [ ]:
ocprip_df = pd.merge(ocpri_df, product_df, how='left', on='product_id')
ocprip_df.drop(['product_id', axis='columns', inplace=True)
ocprip_df.info()

In [ ]:
ocprip_df

## Joined Dataset

In [ ]:
payment_order_df = pd.merge(payment_df, order_df, how='left', on='order_id')
payment_order_df.head()

In [ ]:
pay_order_cust_df = pd.merge(payment_order_df, customer_df, how='left', on='customer_id')
pay_order_cust_df.head()

In [ ]:
pay_order_cust_df.info()

In [ ]:
pay_order_cust_df.to_csv('poc.csv', index=False);

In [ ]:
#pay_order_cust_df = pay_order_cust_df.sample(frac=0.1)
pay_order_cust_df.shape[0]

# Feature Engineering

In [ ]:
rfm_df = pay_order_cust_df.groupby('customer_unique_id').agg({'purchase_date':'max', 'order_id':'count', 'payment_value':'sum'})
%timeit
rfm_df.purchase_date = rfm_df.purchase_date.apply(lambda x: (max(rfm_df.purchase_date)-x).days)
rfm_df.columns = ['recency', 'frequency', 'monetary']
rfm_df.to_csv('rfm.csv', index=False);
rfm_df.head()

In [ ]:
rfm_df = pd.read_csv('rfm.csv')
rfm_df.head()

# EDA

In [ ]:
plt.hist(rfm_df.frequency, bins=50)
plt.xlabel('Total Orders')
plt.ylabel('Number of Customers');

In [ ]:
plt.hist(rfm_df.monetary, bins=200)
plt.xlabel('Total Payment')
plt.ylabel('Number of Customers');

In [ ]:
plt.scatter(rfm_df.frequency,rfm_df.monetary)
plt.xlabel('Total Orders')
plt.ylabel('Total Payment');

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(rfm_df)
print('Mean:', scaler.mean_)
print('Std:', np.sqrt(scaler.var_))

# K-means Clustering

## Elbow Diagram

In [ ]:
from sklearn.cluster import KMeans
inertia_dict = {}
for k in range(1,15):
    rfm_km = KMeans(n_clusters=k).fit(X_scaled)
    inertia_dict[k] = rfm_km.inertia_
    
plt.scatter(inertia_dict.keys(), inertia_dict.values())
plt.xlabel('Clusters')
plt.ylabel('Inertia');

In [ ]:
n_clusters = 4

## K-means Clustering

In [ ]:
km = KMeans(n_clusters=n_clusters).fit(X_scaled)
labels = km.labels_

In [ ]:
plt.scatter(rfm_df.recency, rfm_df.monetary, c=labels)
plt.xlabel('Recency')
plt.ylabel('Monetary')

In [ ]:
plt.scatter(rfm_df.frequency, rfm_df.monetary, c=labels)
plt.xlabel('Frequency')
plt.ylabel('Monetary')

In [ ]:
np.bincount(labels)

In [ ]:
label_count_df = pd.DataFrame(labels)

In [ ]:
km.cluster_centers_

In [ ]:
km.cluster_centers_[1,1]

In [ ]:
n_clusters

In [ ]:
customer_segment_list = []
for cluster in range(n_clusters):
    if km.cluster_centers_[cluster, 0] > 0:
        customer_segment_list.append('current | ')
    else:
        customer_segment_list.append('churned | ')
    if km.cluster_centers_[cluster, 1] > 0:
        customer_segment_list[cluster] += 'regular | '
    else:
        customer_segment_list[cluster] += 'one time | '
    if km.cluster_centers_[cluster, 2] > 0:
        customer_segment_list[cluster] += 'high value'
    else:
        customer_segment_list[cluster] += 'low value'

customer_segment_list

In [ ]:
import seaborn as sns
import string
sns.heatmap(km.cluster_centers_, cmap='GnBu', 
            xticklabels=rfm_df.columns,
            yticklabels=customer_segment_list)

In [ ]:
from sklearn.manifold import TSNE
tsne = TSNE(n_components=2)
X_tsne = tsne.fit_transform(X_scaled)

In [ ]:
plt.scatter(X_tsne[:,0], X_tsne[:,1], c=labels)
plt.xlabel('TSNE 1')
plt.ylabel('TSNE 2')

In [ ]:
poc3m_df = pay_order_cust_df[(date(2017,4,1) <= pay_order_cust_df.purchase_date) &
                              (pay_order_cust_df.purchase_date < date(2017,7,1))]
poc6m_df = pay_order_cust_df[(date(2017,7,1) <= pay_order_cust_df.purchase_date) & 
                              (pay_order_cust_df.purchase_date < date(2018,2,1))]

In [ ]:
rfm3m_df = poc3m_df.groupby('customer_unique_id').agg({'purchase_date':'max', 'order_id':'count', 'payment_value':'sum'})
rfm3m_df.purchase_date = rfm3m_df.purchase_date.apply(lambda x: max(rfm3m_df.purchase_date)-x)
rfm3m_df.columns = ['recency', 'frequency', 'monetary']
rfm3m_df.head()

In [ ]:
rfm3m_df.info()

In [ ]:
rfm3m_df.head()

In [ ]:
m6m_df = poc6m_df.groupby('customer_unique_id')['payment_value'].sum()
m6m_df

In [ ]:
rfm3m_m6m_df = pd.merge(rfm3m_df, m6m_df)
rfm3m_m6m_df